<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="shortcut icon" href="{$Think.const.LOGO}">
<title>Python免费入门训练营_未明学院</title>   
<meta name="keywords" content="Python,训练营">
<meta name="description" content="未明学院的Python免费入门训练营项目是未明学院老师精心打造，Python免费入门训练营项目特色为项目制学习实现Python从0到1的突破，未明学院老师精心打造，专为Python零基础同学设计。">

<script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
    !window.jQuery && document.write('<script src="http://code.jquery.com/jquery-2.0.0.min.js"><\/script>');
    </script>
<link href="/public/static/index/CSS/wmxy-m.css?v={$Think.const.MCSS}" rel=stylesheet>

<link rel="stylesheet" href="/public/static/index/CSS/mui.min.css">
<script type=text/javascript src="/public/static/index/JS/vue.min.js"></script>
<script type=text/javascript src="/public/static/index/JS/clipboard.min.js"></script>
<script type="text/javascript">
    var vincent=window.location.href;
    if(vincent.indexOf("www.")>0){
    vincent=vincent.replace("{$Think.const.WEB}","{$Think.const.MOBILE}");
    window.location.href=vincent;
    }
    </script>   
</head>
<body>
        {include file="./application/index/view/index/m-top.html"} 

        <div class="index-top">
            <a href="/"><div class="to-index">首页<div class="line"></div></div></a>
            <a href="/python"><div class="to-free active">免费课程<div class="line"></div></div></a>
            <a href="/course"><div class="to-course">精品课程<div class="line"></div></div></a>
        </div>

    <div id=app class="pub-body-m" style="padding-bottom:0px">
            <div class="pub-top-m"><!--顶部-->
                <div class="pub-top-bg">
                    <div class="pub-top-1 one-row">Python免费入门训练营</div>
                    <div class="pub-top-2 one-row" style="margin-top:20px;">项目制学习实现Python从0到1的突破</div>
                </div>
            </div>
            
            <div class="pub-desc"><!--课程介绍-->
                <div class="desc-title-m">可能是最好的 Python 入门课</div>
                <div class="desc-desc-m">通过项目制的教学方法，每天通过2-3小时的学习，完成一个入门级Python项目。</div>
                <div class="desc-img-m"><!--导师介绍-->
                    <img alt="马老师：未明学院数据分析方向老师" src="http://img.compassedu.hk/teacher_ma.jpg?imageMogr2/auto-orient/thumbnail/245x/blur/1x0/quality/75">
                    <div class="desc-img-tea-m">马老师：未明学院数据分析方向老师</div>
                </div>
            </div>
            
            <div class="course-container-m course-point-m"><!--特色优势-->
                <div class="desc-title-m">Python学习中存在的问题</div>
                
                    <div class="point-detail-m">
                        <div class="detail-order-m">1</div>
                        <div class="detail-title-m">知识点很枯燥，完课率很低</div>
                        <div class="detail-desc-m">Python虽然上手相对容易，但是对着一本厚厚的Python入门书籍或者几十个小时的录屏课程，许多学生往往是半途而废，很难坚持下来</div>
                    </div>
                    <div class="point-detail-m">
                        <div class="detail-order-m">2</div>
                        <div class="detail-title-m">无人指导，遇到困难无法解决</div>
                        <div class="detail-desc-m">学习是需要陪伴的。无论是老师的指点还是和同学的交流，都会大大提高学习效率，许多同学半途而废，往往是由于卡在某个知识点，而找不到大牛来帮助</div>
                    </div>
                    <div class="point-detail-m">
                        <div class="detail-order-m">3</div>
                        <div class="detail-title-m">缺少练习，无法判断的学习效果</div>
                        <div class="detail-desc-m">没有作业及作业讲解，许多学员无法检测自己的学习效果。如何获取这些数据以及数据对应的作业，往往是自学的同学们无法逾越的障碍</div>
                    </div>
                    <div class="point-img-m"><img alt="Python学习中存在的问题" src="http://img.compassedu.hk/wmxy/python-pic.png?imageMogr2/auto-orient/thumbnail/!90p/blur/1x0/quality/75"></div>
                
            </div>
            

            <div  class="course-container-m course-gain-m"><!--成果-->
                <img alt="往期课程项目成果展示" class="bg-img-m" alt="训练营优势特色" src="http://img.compassedu.hk/wmxy/python-2.jpg?imageMogr2/auto-orient/thumbnail/!50p/rotate/90/background/I0ZGRkZGRg==/blur/1x0/quality/75"style="left: -10px">
            
                        <div class="desc-title-m"style="color:#ffffff">训练营优势特色</div>
                        <div class="desc-title-1-m">教学效果至上，注重实践和动手能力</div>
                    
                            <img alt="项目制学习" src="http://img.compassedu.hk/wmxy/gain-1.png?imageMogr2/auto-orient/thumbnail/!50p/blur/1x0/quality/75" style="width:100%">
                            <div class="gain-title-m">项目制学习</div>
                            <div class="gain-desc-m">每一次课程，我们都将围绕一个主题进行内容讲解，同时布置任务作业和参考阅读， 及时巩固，循序渐进：我们不会涉及过多理论细节，重在提高大家利用Python进行数据分析实战的能力。 此次训练营的终极目标是完成“电影市场大数据报告”，在整个课程教学以及练习中，我们将电影数据分析 项目根据知识点进行拆分，分解到每次的课后作业中。</div>
                    
                        
                            <img alt="全程作业讲解" src="http://img.compassedu.hk/wmxy/gain-2.png?imageMogr2/auto-orient/thumbnail/!50p/blur/1x0/quality/75" style="width:100%">
                            <div class="gain-title-m">全程作业讲解</div>
                            <div class="gain-desc-m">练习是检测自己学习效果的最佳方式，针对每一次课程， 我们都将布置作业，并且预留一天的时间让学生完成作业。 课程老师将会总结同学们在作业过程中存在的问题并且给予学生反馈。</div>
                    
                            <img alt="微信群+小程序打卡" src="http://img.compassedu.hk/wmxy/gain-3.jpg?imageMogr2/auto-orient/thumbnail/!50p/blur/1x0/quality/75" style="width:100%">
                            <div class="gain-title-m">微信群+小程序打卡</div>
                            <div class="gain-desc-m" style="margin-bottom:0px">学习是孤独的，如果有同学和老师陪伴，大家都朝着一个方向努力， 那么学习就没有那么枯燥，会变得有趣很多。在整个课程设计中， 我们运用大量心理学知识及经验，通过微信群、小程序作业、作业讲解等方式， 让每个学员都不会孤独。</div>
                        
                
            </div>
            
            
            <!-- 课程 -->
            <div style="background-color:#f7f7f7;padding:24px 20px 15px">
                <div class="m-course-ap">课程安排</div>
                <div class="m-course-part">
                    <div class="m-course-tar color-0">第一阶段</div>
                        <div class="m-course-t">Python数据分析之基础知识</div>
                        <div class="m-course-d"><b>基本语法：</b>数据类型，数据结构，列表生成式，条件判断，循环</div>
                        <div class="m-course-d"><b>函数的定义和使用：</b>内置函数，自定义函数</div>                </div>
                <div class="m-course-part">
                    <div class="m-course-tar color-1">第二阶段</div>
                        <div class="m-course-t">Python数据分析之Numpy</div>
                        <div class="m-course-d"><b>Numpy数组对象：</b>ndarray，算术和逻辑运算</div>
                        <div class="m-course-d"><b>对象属性：</b>ndarray.shape，ndarray.size，ndarray.dtype，ndarray.ndim</div>             
                        <div class="m-course-d"><b>数组的操作：</b>运算，索引，切片，重塑</div>                                     
                </div>
                <div class="m-course-part">
                    <div class="m-course-tar color-2">第三阶段</div>
                    <div class="m-course-t">Python数据分析之Pandas</div>
                    <div class="m-course-d"><b>Series和DataFrame类型：</b>初始化，特性，基本操作</div>
                    <div class="m-course-d"><b>数据操作：</b>缺失值处理（去除，填充），重复数据处理，异常值处理，数据格式转换，排序</div>
                    <div class="m-course-d"><b>基本统计分析：</b>均值方差，最大最小值，分位数，求和，相关系数，协方差，唯一值，值计数</div>
                    <div class="m-course-d"><b>数据透视：</b>pivot_table操作</div>
                    <div class="m-course-d"><b>常用数据处理技巧：</b>数据重塑和轴向旋转，数据分组，分组运算，数据特征提取（标准化，离散化），合并数据集（merge, append, concat）</div>                            
                </div>
                <div class="m-course-part">
                    <div class="m-course-tar color-3">第四阶段</div>
                        <div class="m-course-t">Python数据分析之Matplotlib</div>
                        <div class="m-course-d"><b>Matplotlib库基础：</b>基本功能及示例</div>
                        <div class="m-course-d"><b>常见图形绘制：</b>柱状图，线型图，饼图，直方图，散点图，箱线图，相关系数矩阵图</div>             
                        <div class="m-course-d"><b>数据报告：</b>报告制作要点</div>                                     
                </div>
             </div>

             <div class="index-pj">
                    <div class="index-pj-index">学员评价</div>
                    {volist name="pjlist" id="pj" offset="0" length='3'}
                    <div class="pj-detail">
                        <div class="pj-line">
                            <img alt="{$pj.name}头像" src="{$pj.img}"> 
                            <div class="st-name">{$pj.name}
                                <div class="st-star"></div> <div class="st-star"></div> <div class="st-star"></div> <div class="st-star"></div> <div class="st-star"></div>
                            </div>
                        </div> 
                        <div class="pj-pro">{$pj.pro}</div>
                        <div class="pj-desc">{$pj.pj}</div>
                    </div>
                    {/volist}
                </div>
            <!--        
            <div class="course-container-m course-gain-m" style="padding-bottom:25px;min-height:213px">
                <img class="bg-img" alt="课程奖励" src="http://img.compassedu.hk/wmxy/python-banner.jpg?imageMogr2/auto-orient/thumbnail/85x/blur/1x0/quality/75"style="position: absolute;height: 100%;left: 0;top: 0;z-index: -1;">
                <div class="pub-get-title">课程奖励</div>
                <img class="pub-get" src="http://img.compassedu.hk/wmxy/book.jpg">
                
                <div class="pub-get-desc">训练营结束后，我们将评选出10名报告完成度高的参与者，每人送出由资深数据分析专家Wes McKinney所著
                    《利用Python进行数据分析 [Python for Data Analysis]》实体书一本。</div>
            </div>
        -->


            
            
            </div>
                <!--<div class="pro-apply-btn pro-apply-btn-1" style="z-index:99">
                        <a href="https://e-132293.chatnow.meiqia.com/dist/standalone.html"><div class="pro-apply-button contact">我要报名</div></a>
                    </div> -->
                        <!--<div class="pro-apply-button contact"  onclick="contact()" data-clipboard-text="compassedu09">我要报名</div>-->
                

        

    </div>  
    
    <script type=text/javascript src="/public/static/index/JS/mui.min.js"></script>
    <script>
            /*function contact(){
                mui.confirm('添加好友compassedu09 后，课程助理会详细和您介绍报名流程', '已复制课程助理微信', ['取消', '打开微信'], function(e) 
                {
                    if (e.index == 1) {
                        window.location.href="weixin://";
                    } else {
                    }	
                });
            }
        var clipboard = new ClipboardJS('.contact');
                        clipboard.on('success', function(e) {
                        e.clearSelection();
                        //复制成功
                        });
                        clipboard.on('error', function(e) {
                        //复制失败
                        });*/
    </script>


<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f103248b4ce29f2480202f085e63e6b0";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</html>