<header class="header">
{if $Think.session.gzh==1}
<img class="header-logo" style="height:24px;" src="http://img.compassedu.hk/wmxy/logo-w.png?imageMogr2/auto-orient/thumbnail/x48/blur/1x0/quality/100">
{else}
<a href="./"><div class="jump-index-m"></div></a>
<img class="header-logo" style="height:24px;" src="http://img.compassedu.hk/wmxy/logo-w.png?imageMogr2/auto-orient/thumbnail/x48/blur/1x0/quality/100">
<a href="/login"><img class="header-user" src="http://img.compassedu.hk/wmxy/guest.png?imageMogr2/auto-orient/thumbnail/x30/blur/1x0/quality/100"></a>
{/if}
</header>
<div class="header-bg">

</div>