<style>
        .pj-title{
            padding-right: 20px!important;
            width: 100%;
            height: 56px;
            padding: 7px 6px 8.5px 17.5px;
            border-bottom: 1px solid #e7e7e7;
            position: relative;
        }
        .pj-title-1 {
            font-size: 18px;
            color: #333;
            letter-spacing: 0;
            height: 40.5px;
            font-weight: 700;
            width: 100%;
            vertical-align: middle;
            display: table-cell;
        }
        .comp-type input {
            width: 100%!important;
            padding-right: 20px!important;
            padding-top: 17.5px!important;
            text-align: right;
            height: 55px!important;
            top: 0!important;
            right: 0!important;
        }
        .mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before{
            font-size: 20px!important;
        }
        .comp-type {
            padding: 17.5px  20px 16.5px 20px;
            height: 55px;
            margin-bottom: 1px;
            background-color: #fff;
        }
    @keyframes show
    {
        from {left:100vw;}
        to {left:0;}
    }

    @-moz-keyframes show
    {
        from {left:100vw;}
        to {left:0;}
    }

    @-webkit-keyframes show
    {
        from {left:100vw;}
        to {left:0;}
    }

    @-o-keyframes show
    {
        from {left:100vw;}
        to {left:0;}
    }
    @keyframes hide
    {
        from {left:0;}
        to {left:100vw;}
    }

    @-moz-keyframes hide
    {
        from {left:0;}
        to {left:100vw;}
    }

    @-webkit-keyframes hide
    {
        from {left:0;}
        to {left:100vw;}
    }

    @-o-keyframes hide
    {
        from {left:0;}
        to {left:100vw;}
    } 
    .eval-homepage{
        width:100vw;
        min-height:100vh;
        padding-bottom: 20px;
    }
    .eval-page{
        position: absolute;
        top: 0;
        width: 100vw;
        left: 100vw;
        z-index:100;
        min-height:100vh;
        background: #f7f7f7;
        overflow-y:hidden;
        height: 100vh;
    }   
    .eval-show
    {
        left:0!important;
        animation: show 0.3s;
        -moz-animation: show 0.3s;	/* Firefox */
        -webkit-animation: show 0.3s;	/* Safari 和 Chrome */
        -o-animation: show 0.3s;	/* Opera */
    }
    .eval-hide
    {
        left:100vw!important;
        animation: hide 0.3s;
        -moz-animation: hide 0.3s;	/* Firefox */
        -webkit-animation: hide 0.3s;	/* Safari 和 Chrome */
        -o-animation: hide 0.3s;	/* Opera */
    }
    .eval_title{
        width: 100%;
        height: 42px;
        padding-left:20px;
        border-bottom: 1px solid #e7e7e7;
        font-size: 15px;
        line-height: 42px;
    }
    .eval_content{
        background: #fff;
    }
    .eval_content .mui-input-row{
        border-bottom: 1px solid #e7e7e7;
    }
    .eval_content .mui-input-row label{
        padding:10px 10px 10px 20px!important;
        line-height: 27px;
        color:#333;
        font-size: 15px;
    }
    .eval_content .mui-input-row input{
        line-height: 27px;
        height: 47px;
        color:#333;
        font-size: 15px;
    }
    .eval_content .mui-input-row select{
        padding:10px 15px 10px 0!important;
        height: 47px;
        text-align: right!important;
        direction: rtl;
        font-size: 15px!important;
        line-height: 27px;
    }
    .input-row{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: right;
        width:40%!important;
        color:#333;
        font-size: 15px;
    }
    .input-row-left{
        width:60%!important;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color:#333;
        font-size: 15px;
    }
    .eval-none{
        color:#999!important;
    }
    .mui-navigate-right:after{
        right:10px!important;
    }
    .mui-toast-message{
        padding:10px 25px;
        font-size: 14px;
        color:#fff;
        text-align: center;
        background: #323232;
        border-radius: 6px;
    }
    .python-hide label{
        width:65%!important;
    }
    .python-hide input{
        width:35%!important;
    }
    .python-hide select{
        width:35%!important;
    }
    .python-hide1 label{
        width:50%!important;
    }
    .python-hide1 input{
        text-align: right;
        width:50%!important;
    }
    .python-hide2 label{
        width:65%;
    }
    .python-hide2 input{
        width:100%!important;
        padding-left: 20px!important;
    }
    #fx0,#md0{
        text-align: left;
    }
    .python-hide1,.python-hide2,.python-hide{
        display: none;
    }
    .mui-navigate-right{
            padding-right: 24px;
        }
    .pj-front-btn {
        margin-top: 25px;
        padding-left: 20px;
        padding-right: 20px;
        height:40px;
    }
    .pj-front-start {
        width: 100%;
        height: 40px;
        background:  rgba(0,80,179,0.85);
        border: 1px solid  rgba(0,80,179,0.85);
        border-radius: 5px;
        font-size: 16px;
        color: #FFF;
        letter-spacing: 0;
        padding-top: 8px;
        padding-bottom: 8.5px;
        line-height:23.5px;
        text-align: center;
    }
    .comp-type label{
        font-size: 15px;
        color: #333;
        letter-spacing: 0;
        line-height:21px;
        padding: 0!important;
    }
    </style>
</head>

<div class="eval-homepage"> 
    <div class="eval_title">打卡营问卷调查</div>
    <div class="eval_content">
            <div class="mui-input-row mui-navigate-right">
                    <label style="width:50%">您目前的状态</label>
                    <select  style="width:50%" class="eval-none" id="year" onchange="color1()">
                        <option id="y1" value="">未选择</option>
                        <option value="1">本科在读：大一</option>
                        <option value="2">本科在读：大二</option>
                        <option value="3">本科在读：大三</option>
                        <option value="4">本科在读：大四</option>
                        <option value="5">研究生在读：研一</option>
                        <option value="6">研究生在读：研二</option>
                        <option value="7">研究生在读：研三</option>
                        <option value="8">已毕业在职</option>
                    </select>
                </div> 
            <div class="mui-input-row python-hide1">
                <label>您目前就读的学校</label>
            <input type="text" class="mui-input-clear" id="univ" placeholder="请输入学校名称">
            </div>
            <div class="mui-input-row python-hide1">
                <label>您目前就读的专业</label>
            <input type="text" class="mui-input-clear" id="major" placeholder="请输入专业名称">
            </div>    

            <div class="mui-input-row mui-navigate-right  python-hide" id="fx1">
                <label>您毕业后的发展方向是？</label>
                <input class="eval-none mui-input-clear input-row" id="fx" type="text" value="未选择" readonly="" onclick="fx()">
            </div>  
            <div class="mui-input-row mui-navigate-right python-hide"  id="jc1">
                    <label>您之前是否有接触过数据分析相关项目？</label>
                    <select class="eval-none" id="jc" onchange="color2()">
                        <option value="">未选择</option>
                        <option value="1">是</option>
                        <option value="2">否</option>
                    </select>
                </div>  
            <div class="mui-input-row mui-navigate-right  python-hide" id="md1">
                <label>您参加本次打卡营的主要目的是？</label>
                <input class="eval-none mui-input-clear input-row" id="md" type="text" value="未选择" readonly="" onclick="md()">
            </div> 
            <div class="mui-input-row python-hide2">
                <label style="width:100%;">您是在哪里知道我们的活动的？</label>
            <input type="text" class="mui-input-clear" id="zd" placeholder="请输入">
            </div>             
    </div>

    <div class="pj-front-btn  python-hide">
            <div class="pj-front-start" onclick="submit()">提交</div>
        </div>
</div>   
    
    <div class="eval-page" id="s-fx">
        <div class="pj-title">
            <div class="pj-title-1"><span>您毕业后的发展方向是？（单选）</span></div>
        </div>
        
                <div class="mui-input-row mui-radio comp-type fx-sel">
                        <label>国内升学</label>
                        <input name="fx" value="国内升学" type="radio">
                </div>
                <div class="mui-input-row mui-radio comp-type fx-sel">
                        <label>出国留学</label>
                        <input name="fx"  value="出国留学" type="radio">
                </div>
                <div class="mui-input-row mui-radio comp-type fx-sel">
                        <label>就业</label>
                        <input name="fx"  value="就业" type="radio">
                </div>
                <div class="mui-input-row mui-radio comp-type fx-sel" id="fx-0">
                        <label>其他</label>
                        <input name="fx"   value="其他" type="radio">
                        <input id="fx0"  value="" placeholder="请输入" type="text" style="display:none">
                </div>

                <div class="pj-front-btn">
                        <div class="pj-front-start" onclick="savefx()">确定</div>
                    </div>
    </div>   
    
    <div class="eval-page" id="s-md">
        <div class="pj-title">
            <div class="pj-title-1"><span>您参加本次打卡营的主要目的是？（多选）</span></div>
        </div>
        
                <div class="mui-input-row mui-checkbox comp-type">
                        <label>求职加分</label>
                        <input name="md" value="求职加分" type="checkbox">
                </div>
                <div class="mui-input-row mui-checkbox comp-type">
                        <label>留学加分</label>
                        <input name="md"  value="留学加分" type="checkbox">
                </div>
                <div class="mui-input-row mui-checkbox comp-type">
                        <label>兴趣爱好</label>
                        <input name="md"  value="兴趣爱好" type="checkbox">
                </div>
                <div class="mui-input-row mui-checkbox comp-type"  id="md-0" onclick="show()">
                        <label>其他</label>
                        <input name="md"  value="其他" type="checkbox" id="md-00">
                        <input id="md0"  value="" placeholder="请输入" type="text" style="display:none">
                        
                </div>                                                
                <div class="pj-front-btn">
                        <div class="pj-front-start" onclick="savemd()">确定</div>
                    </div>
    </div> 




    <script>
            
        
        $('input[type=radio][name=fx]').change(function() {
            if (this.value == '其他') {
                $("#fx0").show();
                $("#fx-0").css('height','105px')
            }
            else{
                $("#fx0").hide();
                $("#fx-0").css('height','55px')
            }
        });
        function show(){
            if($("#md-00").is(':checked')){
                $("#md0").show();
                $("#md-0").css('height','105px')
            }else{
                $("#md0").hide();
                $("#md-0").css('height','55px')
            }
        }
    function color1(){
        var year=$("#year").val();
        if(year==''){
            $("#year").addClass("eval-none");
            $(".python-hide1").hide();
            $(".python-hide2").hide();
            $(".python-hide").hide();
        }else{
            $("#y1").hide();
            $("#year").removeClass("eval-none");
            if(year!="8"){
                $(".python-hide1").show();
                $(".python-hide2").show();
                $(".python-hide").show();
            }else{
                $(".python-hide1").hide();
                $(".python-hide2").show();
                $(".python-hide").show();
            }
            var h1=$("#fx1").height()-20;
            $("#fx").height(h1);
            var h2=$("#jc1").height()-20;
            $("#jc").height(h2);
            var h3=$("#md1").height()-20;
            $("#md").height(h3);
        }
    }
    function color2(){
        var jc=$("#jc").val();
        if(jc==''){
            $("#jc").addClass("eval-none");
        }else{
            $("#jc").removeClass("eval-none");
        }
    }
    function fx(){
        $("#guestevaPython").scrollTop(0);
        $("#fx").blur();
        $("#s-fx").css({
            "height":"",
            "overflow-y":"auto"
		 });
        $("#s-fx").addClass("eval-show");
        $("#s-fx").removeClass("eval-hide");
    }
    function savefx(){
        var s="";
        $("input[name='fx']").each(function(){
            if(this.checked){
                s=$(this).val();
                return false;
            }
        })
        if(s!=''){
            if(s=="其他"){
                var t=$("#fx0").val();
                if(t==''){
                    mui.toast('请输入您毕业后的发展方向') ;
                    return false;
                }else{
                    s=t;
                }
            }
            $("#fx").removeClass('eval-none');
            $("#fx").val(s);

        $("#guestevaPython").scrollTop(0);

        $("#s-fx").css({
            "height":"100vh",
            "overflow-y":"hidden"
		 });

            $("#s-fx").addClass("eval-hide");
            $("#s-fx").removeClass("eval-show");
        }else{
            mui.toast('请选择您毕业后的发展方向') ;
        }

    }
    function md(){
        $("#guestevaPython").scrollTop(0);
        $("#md").blur();
        $("#s-md").css({
            "height":"",
            "overflow-y":"auto"
		 });
        $("#s-md").addClass("eval-show");
        $("#s-md").removeClass("eval-hide");
    }
    function savemd(){
        var s="";
        $("input[name='md']").each(function(){
            if(this.checked){
                if($(this).val()=='其他'){
                    if($("#md0").val()!=''){
                        s=s+$("#md0").val()+",";
                    }
                }else{
                    s=s+$(this).val()+",";
                }
                
            }
        })
        if(s!=''&&s!=','){
            s=s.substr(0, s.length - 1);
            $("#md").removeClass('eval-none');
            $("#md").val(s);

        $("#guestevaPython").scrollTop(0);

        $("#s-md").css({
            "height":"100vh",
            "overflow-y":"hidden"
		 });

            $("#s-md").addClass("eval-hide");
            $("#s-md").removeClass("eval-show");            
        }else{
            mui.toast('请选择您参加本次打卡营的主要目的') ;
        }

    }
    
    function submit(){
        var uid={$uid};
        var cid={$cid};
        var univ=$("#univ").val();
        var major=$("#major").val();
        var year=$("#year").val();
        var fx=$("#fx").val();
        var jc=$("#jc").val();
        var md=$("#md").val();
        var zd=$("#zd").val();

        if(year==""){
            mui.alert('','请选择您目前的状态','知道了');
            return false;
        }

        if(univ==""&&year!=8){
            mui.alert('','请填写您目前就读的学校名称','知道了');
            return false;
        }
        if(major==""&&year!=8){
            mui.alert('','请填写您目前就读的专业名称','知道了');
            return false;
        }

        if(fx=="未选择"){
            mui.alert('','请选择您毕业后的发展方向','知道了');
            return false;
        }        
        if(jc=="未选择"){
            mui.alert('','您之前是否有接触过数据分析相关项目','知道了');
            return false;
        }
        if(md=="未选择"){
            mui.alert('','请选择您参加本次打卡营的主要目的','知道了');
            return false;
        }
        if(zd==""){
            mui.alert('','请填写您是在哪里知道我们的活动的','知道了');
            return false;
        }
        var data={
            "univ":univ,
            "major":major,
            "year":year,
            "fx":fx,
            "jc":jc,
            "md":md,
            "zd":zd,
            "uid":uid,
            "cid":cid
        }
        $.post("http://m.enaca.cn/saveSkillPython", data,
                                function(a){
                                    mui.alert('','提交成功','好的',function(){
                                        window.location.reload();
                                    });
                                })
                                .error(function(){ 
                                    mui.alert('','提交失败','重试',function(){
                                submit();
                        });
                                })
    }
    </script>