<!DOCTYPE html>
<html>
<head>
	<title>寒假促销班</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/public/static/index/CSS/mui.min.css">
	<style type="text/css">
		html,body{
			width: 100%;
			height: 100%;
			padding:0;
			margin:0;
		}
		img{
			width: 100%;
			vertical-align: middle;
			display: block;
		}
	</style>
	<script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
	<div class="overall">
		<div><img src="/public/static/source/promote-1.jpg"></div>
		<div>
			<a href="http://www.compassedu.hk/course_85">
			<img src="/public/static/source/promote-2.jpg">
			</a>
		</div>
		<div>
			<a href="http://www.compassedu.hk/course_87">
			<img src="/public/static/source/promote-3.jpg">
			</a>
		</div>
		<div>
			<a href="http://www.compassedu.hk/course_84">
			<img src="/public/static/source/promote-4.jpg">
			</a>
		</div>
		<div>
			<a href="http://www.compassedu.hk/course_88">
			<img src="/public/static/source/promote-5.jpg">
			</a>
		</div>
		<div>
			<a href="http://www.compassedu.hk/course_86">
			<img src="/public/static/source/promote-6.jpg">
			</a>
		</div>
		<div><img src="/public/static/source/promote-7.jpg"></div>
		<div><img src="/public/static/source/promote-8.jpg"></div>
	</div>
</body>
</html>