<div class="bottom">
        <div class="bottom-contain">
            <div class="bottom-info">
                    <a href="./" target="_blank"><div class="bottom-title">未明学院</div></a>
                <div class="bottom-desc">
                    <!--<a href="/course" target="_blank">免费课程</a><br/>-->
                    <a href="/course" target="_blank">精品课程</a><br/>
                    <a href="/certificate" target="_blank">证书查询</a>
                </div>
            </div>
            <div class="bottom-contact">
                <div class="bottom-title">联系我们</div>
                <div class="bottom-desc">
                    咨询热线：025-84432263<br/>
                    咨询邮箱：contact@enaca.cn<br/>
                    公司电话：025-84432263
                </div>
            </div>
            <div class="bottom-address">
                <div class="bottom-title">公司地址</div>
                <div class="bottom-desc">江苏省南京市秦淮区科巷1号2229室</div>
            </div>
            <div class="bottom-img">
                <img src="http://img.compassedu.hk/wmxy/wx.jpg">
                <div class="img-desc">关注未明学院公众号</div>
            </div>
        </div>
        <div class="bottom-tar">南京未明锦途教育科技有限公司&nbsp;&nbsp;enaca.cn&nbsp;&nbsp;苏ICP备18058073号</div>
            
    </div>           
    <script>
            $(window).scroll(function(e){
                    s=$(document).scrollTop();
                    if(s>10)
                        {
                        $('.header').addClass("header-bg");
                        }else{
                            $('.header').removeClass("header-bg");
                        }
                
                    });	
            </script>
    <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?50037c835a3d4475f3cf72a4868228fc";
                var s = document.getElementsByTagName("script")[0]; 
                s.parentNode.insertBefore(hm, s);
            })();
            </script>