<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="NOINDEX,NOFOLLOW,noarchive" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="shortcut icon" href="{$Think.const.LOGO}">
<title>{$Think.const.TITLE}</title>   
<meta name="keywords" content="未明学院,大学生,职业探索,技能提升">
<meta name="description" content="未明学院专注专注大学生职业探索与技能提升。未明学院本着让学习更有趣、让学员的简历不再单薄的教学理念，未明学院为每一组学员设计紧跟企业界热点的数据处理项目，通过项目制学习（PBL）的方式，让学员在掌握数据处理技能的同时，收获一个高含金量的项目经历。">


<link href="/public/static/index/CSS/wmxy.css?v={$Think.const.CSS}" rel=stylesheet>
<link href="/public/static/index/CSS/wmxy-custom.css?v={$Think.const.CSS}" rel=stylesheet>
<script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
    !window.jQuery && document.write('<script src="http://code.jquery.com/jquery-2.0.0.min.js"><\/script>');
    </script>
<style>
#hub{
  width: 34vw;
  height: calc(100vh + 75px);
  position: fixed;
  right: 0;
  top: -75px;
}
</style>
</head>


<body style="background: #f7f7f7;height:100vh;overflow:hidden;">
 

{if $huburl!=''}
<iframe allowfullscreen="true" allowtransparency="true" src="{$url}" style="width:66vw;height:100vh;"></iframe>
<iframe  id='hub' allowfullscreen="true" allowtransparency="true" src="{$huburl}"></iframe>
{else}
<iframe allowfullscreen="true" allowtransparency="true" src="{$url}" style="width:100vw;height:100vh;"></iframe>
{/if}
</body>
<script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?50037c835a3d4475f3cf72a4868228fc";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();

        var gid='{$gid}';
        var id='{$id}';
          study();
          setInterval("study()",30000);
        function study(){
              $.post('http://www.enaca.cn/study',{'id':id,'gid':gid,'type':'live'},  function(result){
                      });  
              
        }
        </script>

</html>