<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="shortcut icon" href="{$Think.const.LOGO}">
<title>Python免费入门训练营_未明学院</title>   
<meta name="keywords" content="Python,训练营">
<meta name="description" content="未明学院的Python免费入门训练营项目是未明学院老师精心打造，Python免费入门训练营项目特色为项目制学习实现Python从0到1的突破，未明学院老师精心打造，专为Python零基础同学设计。">

<link href="/public/static/index/CSS/wmxy.css?v={$Think.const.CSS}" rel=stylesheet>
<script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
    !window.jQuery && document.write('<script src="http://code.jquery.com/jquery-2.0.0.min.js"><\/script>');
    </script>
<script type="text/javascript">
    var vincent=window.location.href;
    if(vincent.indexOf("m.")>0){
    vincent=vincent.replace("{$Think.const.MOBILE}","{$Think.const.WEB}");
    window.location.href=vincent;
    }
    </script> 
</head>
<body>

 {include file="./application/index/view/index/w-top.html"} 


<div class="pub-top"><!--顶部-->
    <img class="bg-img" alt="Python免费入门训练营" src="http://img.compassedu.hk/wmxy/python-banner.jpg?imageMogr2/auto-orient/thumbnail/!80p/blur/1x0/quality/75">
    <div class="pub-container-1">
        <div class="pub-top-title">Python免费入门训练营</div>
        <div class="pub-top-desc">项目制学习实现Python从0到1的突破</div>
        <div class="pub-top-time">
              &nbsp;
        </div>
        <div class="c-top-aply">
            <a href="javascript:void(0)" id="apply">
                <div class="aply-btn">我要报名参加</div>
                <!--<div class="course-ewm">
                <img alt="扫码添加课程助理为好友,课程助理会详细和您介绍报名流程" src="http://img.compassedu.hk/enaca-2.jpg?imageMogr2/auto-orient/thumbnail/x250/blur/1x0/quality/80" class="" style="height: 250px;">
                <span style="font-size: 14px;text-align:  center;color:  #333333;display:  block;margin-top:  5px;">扫码添加课程助理为好友<br>
                <span style="font-size:12px;display:  block;">课程助理会详细和您介绍报名流程</span></span>
                </div>-->
            </a>
        </div>
    </div>
</div>

<div class="fix-time">
        <div class="time-cont course-container ">
        <div class="time-title">Python免费入门训练营</div>
    <div class="release-topic">
    
    <div class="fixbt" style="float: right;margin-left: 26px;position:  relative;"> <button class="time-botton">我要报名</button>
    <!--<div class="course-ewm" style="    left: -140px;top: 50px;height:306px">
    
    <img alt="扫码添加课程助理为好友,课程助理会详细和您介绍报名流程" src="http://img.compassedu.hk/enaca-2.jpg?imageMogr2/auto-orient/thumbnail/x250/blur/1x0/quality/80" class="" style="height: 250px;">
    <span style="font-size: 14px;text-align:  center;    line-height: 18px;color:  #333333;display:  block;margin-top:  5px;    position: relative;    bottom: 20px;">扫码添加课程助理为好友<br>
    <span style="font-size:12px;display:  block;">课程助理会详细和您介绍报名流程</span></span>
    </div>-->
    
    </div>
    </div>
        <div style="clear:both"></div>
        </div>
</div>
<div class="pub-desc pub-container"><!--课程介绍-->
    <div class="desc-title">可能是最好的 Python 入门课</div>
    <div class="desc-title-1">未明学院老师精心打造，专为Python零基础同学设计</div>
    <div class="pub-desc-desc">近年来，随着数据科学、人工智能、机器学习的兴起，Python也受到了越来越多的关注。
作为面向对象的解释型编程语言，Python凭借着上手简单、兼容性强及庞大的标准库和第三方库，成为数据科学和人工智能领域首选的编程语言。
未明学院的课程开发团队结合同学们自学Python过程中遇到的问题，历时2个多月的开发，正式推出Python入门训练营。
该训练营针对Python零基础的同学，旨在通过项目制的教学方法，每天通过2-3小时的学习，完成一个入门级Python项目并入门Python编程。</div>
    <div class="pub-desc-img"><!--导师介绍-->
        <img alt="马老师：未明学院数据分析方向老师" src="http://img.compassedu.hk/teacher_ma.jpg?imageMogr2/auto-orient/thumbnail/252x/blur/1x0/quality/75">
        <div class="desc-img-tea">马老师：未明学院数据分析方向老师</div>
    </div>
</div>

<div class="pub-point"><!--特色优势-->
    <div class="pub-container">
        <div class="desc-title">Python学习中存在的问题</div>
        <div class="desc-title-1">Python虽然上手简单但是自学的同学往往难以坚持下来</div>
        <div class="pub-point-desc">
            <div class="point-detail">
                <div class="detail-order">1</div>
                <div class="detail-title">知识点很枯燥，完课率很低</div>
                <div class="detail-desc">Python虽然上手相对容易，但是对着一本厚厚的Python入门书籍或者几十个小时的录屏课程，许多学生往往是半途而废，很难坚持下来</div>
            </div>
            <div class="point-detail">
                <div class="detail-order">2</div>
                <div class="detail-title">无人指导，遇到困难无法解决</div>
                <div class="detail-desc">学习是需要陪伴的。无论是老师的指点还是和同学的交流，都会大大提高学习效率，许多同学半途而废，往往是由于卡在某个知识点，而找不到大牛来帮助</div>
            </div>
            <div class="point-detail">
                <div class="detail-order">3</div>
                <div class="detail-title">缺少练习，无法判断的学习效果</div>
                <div class="detail-desc">没有作业及作业讲解，许多学员无法检测自己的学习效果。如何获取这些数据以及数据对应的作业，往往是自学的同学们无法逾越的障碍</div>
            </div>
            <div class="pub-point-img"><img alt="Python学习中存在的问题" src="http://img.compassedu.hk/wmxy/python-pic.png?imageMogr2/auto-orient/thumbnail/270x/blur/1x0/quality/75"></div>
        </div>
    </div>
</div>


<div class="pub-gain"><!--成果-->
    <img class="bg-img" src="http://img.compassedu.hk/wmxy/python-2.jpg?imageMogr2/auto-orient/thumbnail/!80p/blur/1x0/quality/75">
    <div class="pub-container">
            <div class="desc-title">训练营优势特色</div>
            <div class="desc-title-1">本着教学效果至上的设计理念，未明学院Python训练营有以下特点</div>
            <div class="pub-gain-img-1">
                <div class="pub-gain-contain">
                    <div class="gain-title">项目制学习</div>
                    <div class="gain-desc">
                            每一次课程，我们都将围绕一个主题进行内容讲解，同时布置任务作业和参考阅读，
                            及时巩固，循序渐进：我们不会涉及过多理论细节，重在提高大家利用Python进行数据分析实战的能力。
                            此次训练营的终极目标是完成“电影市场大数据报告”，在整个课程教学以及练习中，我们将电影数据分析
                            项目根据知识点进行拆分，分解到每次的课后作业中。                           
                    </div>
                </div>
                <img alt="项目制学习" src="http://img.compassedu.hk/wmxy/gain-1.png?imageMogr2/auto-orient/thumbnail/350x/blur/1x0/quality/75">

            </div>
            <div class="pub-gain-img-2">
                <img alt="全程作业讲解" src="http://img.compassedu.hk/wmxy/gain-2.png?imageMogr2/auto-orient/thumbnail/350x/blur/1x0/quality/75">
                <div class="pub-gain-contain">
                    <div class="gain-title">全程作业讲解</div>
                    <div class="gain-desc">
                            练习是检测自己学习效果的最佳方式，针对每一次课程，
                            我们都将布置作业，并且预留一天的时间让学生完成作业。
                            课程老师将会总结同学们在作业过程中存在的问题并且给予学生反馈。
                    </div>
                </div>    
            </div>
            <div class="pub-gain-img-3">
                <div class="pub-gain-contain">
                    <div class="gain-title">微信群+小程序打卡</div>
                    <div class="gain-desc">
                            学习是孤独的，如果有同学和老师陪伴，大家都朝着一个方向努力，
                            那么学习就没有那么枯燥，会变得有趣很多。在整个课程设计中，
                            我们运用大量心理学知识及经验，通过微信群、小程序作业、作业讲解等方式，
                            让每个学员都不会孤独。
                    </div>
                </div>
                <img alt="微信群+小程序打卡" src="http://img.compassedu.hk/wmxy/gain-3.jpg?imageMogr2/auto-orient/thumbnail/350x/blur/1x0/quality/75">
            </div>
    </div>
</div>

<div class="pub-list"><!--课程安排-->
    <div class="course-container">
        <div class="desc-title">课程安排</div>
        <div class="desc-title-1">理论学习与项目实战相结合</div>
        
        <div class="course-list-body">
            <div class="list-body-order">01</div>
            <div class="list-body-title">Python数据分析之基础知识</div>
            <div class="list-body-desc-1">基本语法</div>
            <div class="list-body-desc-2">数据类型，数据结构，列表生成式，条件判断，循环</div>
            <div class="list-body-desc-1">函数的定义和使用</div>
            <div class="list-body-desc-2">内置函数，自定义函数</div>
                    </div>
        
        <div class="course-list-body">
            <div class="list-body-order">02</div>
            <div class="list-body-title">Python数据分析之Numpy</div>
            <div class="list-body-desc-1">Numpy数组对象</div>
            <div class="list-body-desc-2">ndarray，算术和逻辑运算</div>
            <div class="list-body-desc-1">对象属性</div>
            <div class="list-body-desc-2">ndarray.shape，ndarray.size，ndarray.dtype，ndarray.ndim</div>
            <div class="list-body-desc-1">数组的操作</div>
            <div class="list-body-desc-2">运算，索引，切片，重塑</div>     
        </div>
        
        <div class="course-list-body">
            <div class="list-body-order">03</div>
            <div class="list-body-title">Python数据分析之Pandas</div>
            <div class="list-body-desc-1">Series和DataFrame类型</div>
            <div class="list-body-desc-2">初始化，特性，基本操作</div>
            <div class="list-body-desc-1">数据操作</div>
            <div class="list-body-desc-2">缺失值处理（去除，填充），重复数据处理，异常值处理，数据格式转换，排序</div>
            <div class="list-body-desc-1">基本统计分析</div>
            <div class="list-body-desc-2">均值方差，最大最小值，分位数，求和，相关系数，协方差，唯一值，值计数</div>
            <div class="list-body-desc-1">数据透视</div>
            <div class="list-body-desc-2">pivot_table操作</div>
            <div class="list-body-desc-1">常用数据处理技巧</div>
            <div class="list-body-desc-2">数据重塑和轴向旋转，数据分组，分组运算，数据特征提取（标准化，离散化），合并数据集（merge, append, concat）</div> 
        </div>

        <div class="course-list-body">
            <div class="list-body-order">04</div>
            <div class="list-body-title">Python数据分析之Matplotlib</div>
            <div class="list-body-desc-1">Matplotlib库基础</div>
            <div class="list-body-desc-2">基本功能及示例</div>
            <div class="list-body-desc-1">常见图形绘制</div>
            <div class="list-body-desc-2">柱状图，线型图，饼图，直方图，散点图，箱线图，相关系数矩阵图</div>
            <div class="list-body-desc-1">数据报告</div>
            <div class="list-body-desc-2">报告制作要点</div>     
        </div>

            </div>
</div>


<div class="pub-pj">
    <div class="course-pj-body">
            <div class="pub-pj-title">学员评价</div>
            {volist name="pjlist" id="pj"}
            <div class="pub-pj-img">
                <img src="{$pj.img}" alt="{$pj.name}头像">
                <div class="pj-name">{$pj.name}</div>
                <div class="pj-star">
                    <div class="pj-star-1"></div>
                    <div class="pj-star-1"></div>
                    <div class="pj-star-1"></div>
                    <div class="pj-star-1"></div>
                    <div class="pj-star-1"></div>
                </div>
                <div class="pj-pro"><a title="{$pj.pro}">{$pj.pro}</a></div>
                <div class="pj-desc">{$pj.pj}</div>
            </div>
            {/volist}
    </div>
</div>
<!--
<div class="pub-get">
    <div class="course-faq">
        <div class="desc-title">课程奖励</div>
        <img alt="课程奖励《利用Python进行数据分析 [Python for Data Analysis]》实体书" src="http://img.compassedu.hk/wmxy/book.jpg?imageMogr2/auto-orient/thumbnail/184x/blur/1x0/quality/75">
        <div class="pub-get-desc">
                训练营结束后，我们将评选出10名报告完成度高的参与者，
                每人送出由资深数据分析专家Wes McKinney所著《利用Python
                进行数据分析 [Python for Data Analysis]》实体书一本。
                <br/><br/>
                《利用Python进行数据分析 [Python for Data Analysis]》
                几乎是数据分析入门必读书，主要介绍了Python3个库numpy（数组），
                pandas（数据分析）和matplotlib（绘图）的学习。它既是一本数据分析教程，
                也是一本口语化的帮助文档，很适合随时查阅，解决实际处理数据时遇到的问题。
        </div>
    </div>
</div>
-->

<div class="pub-aply">
    <img class="bg-img" src="http://img.compassedu.hk/wmxy/python-ap.jpg?imageMogr2/auto-orient/thumbnail/!80p/blur/1x0/quality/75"> 
    <div class="pub-container">
        <div class="python-apply">报名须知</div>
        <div class="python-ap"><div class="python-ap-p"></div>扫描二维码关注微信公众号 未明学院</div>
        <div class="python-ap"><div class="python-ap-p"></div>回复Python获取免费课程报名方式</div>
        <div class="python-ap-img"><img src="http://img.compassedu.hk/wmxy/wx.jpg"></div>
    </div>
</div>

{include file="./application/index/view/index/w-bottom.html"}    
       
</body>


<script>
        var sh=$('.pub-desc').offset().top;
        $(window).scroll(function(e){
                s=$(document).scrollTop();
                if(s+52>sh)
                    {
                    $('.fix-time').show();
                    }else{
                        $('.fix-time').hide();	
                    }
            
                });	
        </script>
 <script>
        $("#apply").click(function(){
            var top = $(".pub-aply").offset().top;
            $(document).scrollTop(top);
        });
        $(".time-botton").click(function(){
            var top = $(".pub-aply").offset().top;
            $(document).scrollTop(top);
        });
        </script>       
</html>