<div class="col-xs-3" style="width:245px;">
        <a href="./setting" target="_blank">
        <div class="top-mate">
            <div class="top-mate-contain">
                {if $Think.session.guestinfo.wmxy_pic_guest}
                    <img src="{$Think.session.guestinfo.wmxy_pic_guest}" class="avatar-user-mate">
                {else}
                    <img src="{$Think.const.LOGO}" class="avatar-user-mate">
                {/if}
                <div class="name-user-mate">
                {$Think.session.guestinfo.wmxy_nick_guest}
                </div>    
            </div>
        </div></a>
        
        <div class="sidebar">
            <ul id="cust">
            <li class="tagbg1" id="my_order_tag">
                <a href="/order" id="my_order">我的订单</a>
            </li>
           <li class="tagbg2" id="my_event_tag">
                <a href="/event" id="my_event">我的活动</a>
            </li>	
            <li class="tagbg3" id="my_skill_tag">
                <a href="/skill" id="my_skill">精品课程</a>
            </li>		
            <li class="tagbg4">
                <a href="/setting" target="_blank">个人设置</a>
            </li>	
            <li class="tagbg5">
                <a href="/logout">退出账号</a>
            </li>		
            </ul>
        </div> 
                        
        </div>