<div class="wj-load">
        <p class="wj-title"style="    margin-bottom: 30px!important;">训练营学员信息采集表</p>
        
        
        <div style="margin-bottom:30px;margin-left:-30px" >
                    <div class="mui-input-row col-xs-4">
                            <label style="line-height:22px;margin-bottom:5px; display: inline-block;color: #000;font-size: 16px;font-weight:normal;width: 64px;text-align: center;">姓名</label>
                            <input type="text" class="mui-input-clear" id="name" placeholder="请输入姓名" style="height:22px;border: 1px solid #999!important">
                    </div>
                    <div class="mui-input-row col-xs-4" style="padding-left:0px">
                        <label style="line-height:22px;margin-bottom:5px; display: inline-block;color: #000;font-size: 16px;font-weight:normal;padding-right: 15px;">本科学校</label>
                        <input type="text" class="mui-input-clear" id="univ" placeholder="请输入本科学校"style="height:22px;border: 1px solid #999!important">
                    </div>
                    <div class="mui-input-row col-xs-4" style="padding-left:0px">
                        <label style="line-height:22px;margin-bottom:5px; display: inline-block;color: #000;font-size: 16px;font-weight:normal;padding-right: 15px;">本科专业</label>
                    <input type="text" class="mui-input-clear" id="major" placeholder="请输入本科专业"style="height:22px;border: 1px solid #999!important">
                    </div> 
                    <div style="clear:both"></div>  
                    </div>
        
        <div class="wj-q">1.年级</div>
        <div class="wj-op">
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="wj-sing"><span class="grade uncheck" name="大一"></span></a>&nbsp;大一
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="wj-sing"><span class="grade uncheck" name="大二"></span></a>&nbsp;大二
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="wj-sing"><span class="grade uncheck" name="大三"></span></a>&nbsp;大三
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="wj-sing"><span class="grade uncheck" name="大四"></span></a>&nbsp;大四
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="wj-sing"><span class="grade uncheck" name="本科已毕业"></span></a>&nbsp;本科已毕业
        </div>
        <input style="display:none" id="year" name="2" class="wj-result-77">
        </div> 
        
        
        <div class="wj-q">2.&nbsp;申请国家</div>
        <div class="wj-op">
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="ctr-1-a" name="美国"><span class="sing-77 uncheck"name="ctr" id="ctr-1"></span></a>&nbsp;美国
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="ctr-2-a" name="香港"><span class="sing-77 uncheck"name="ctr" id="ctr-2"></span></a>&nbsp;香港
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="ctr-3-a" name="新加坡"><span class="sing-77 uncheck"name="ctr" id="ctr-3"></span></a>&nbsp;新加坡
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="ctr-4-a" name="英国"><span class="sing-77 uncheck"name="ctr" id="ctr-4"></span></a>&nbsp;英国
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="ctr-5-a" name="澳大利亚"><span class="sing-77 uncheck"name="ctr" id="ctr-5"></span></a>&nbsp;澳大利亚
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="ctr-6-a" name="其他"><span class="sing-77 uncheck"name="ctr" id="ctr-6"></span></a>&nbsp;其他
        </div>
        <input style="display:none" id="ctr-in" name="2" class="wj-result-77">
        </div>
        
        <div class="wj-q">3.&nbsp;申请研究方向</div>
        <div class="wj-op">
        <div class="col-xs-3"><!-- area -->
        <a href="javascript:void(0)" class="gui-1-a" name="金融/经济"><span class="sing-77 uncheck"name="gui" id="gui-1"></span></a>&nbsp;金融/经济
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="gui-2-a" name="金工/金数"><span class="sing-77 uncheck"name="gui" id="gui-2"></span></a>&nbsp;金工/金数
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="gui-3-a" name="商业分析"><span class="sing-77 uncheck"name="gui" id="gui-3"></span></a>&nbsp;商业分析
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="gui-4-a" name="统计学"><span class="sing-77 uncheck"name="gui" id="gui-4"></span></a>&nbsp;统计学
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="gui-5-a" name="数据科学"><span class="sing-77 uncheck"name="gui" id="gui-5"></span></a>&nbsp;数据科学
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="gui-6-a" name="计算机"><span class="sing-77 uncheck"name="gui" id="gui-6"></span></a>&nbsp;计算机
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="gui-7-a" name="市场营销"><span class="sing-77 uncheck"name="gui" id="gui-7"></span></a>&nbsp;市场营销
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="gui-8-a" name="传媒"><span class="sing-77 uncheck"name="gui" id="gui-8"></span></a>&nbsp;传媒
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="gui-9-a" name="其他"><span class="sing-77 uncheck"name="gui" id="gui-9"></span></a>&nbsp;其他
        </div>
        <input style="display:none" id="gui-in" name="2" class="wj-result-77">
        </div>
        
        
        <div class="wj-q">4.&nbsp;掌握的编程/统计软件</div>
        <div class="wj-op">
        <div class="col-xs-3"><!-- skill -->
        <a href="javascript:void(0)" class="lea-1-a" name="C/C++"><span class="sing-77 uncheck"name="lea" id="lea-1"></span></a>&nbsp;C/C++
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="lea-2-a" name="Java"><span class="sing-77 uncheck"name="lea" id="lea-2"></span></a>&nbsp;Java
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="lea-3-a" name="Python"><span class="sing-77 uncheck"name="lea" id="lea-3"></span></a>&nbsp;Python
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="lea-4-a" name="R"><span class="sing-77 uncheck"name="lea" id="lea-4"></span></a>&nbsp;R
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="lea-5-a" name="Matlab"><span class="sing-77 uncheck"name="lea" id="lea-5"></span></a>&nbsp;Matlab
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="lea-6-a" name="SAS"><span class="sing-77 uncheck"name="lea" id="lea-6"></span></a>&nbsp;SAS
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="lea-7-a" name="Stata"><span class="sing-77 uncheck"name="lea" id="lea-7"></span></a>&nbsp;Stata
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="lea-8-a" name="Eviews"><span class="sing-77 uncheck"name="lea" id="lea-8"></span></a>&nbsp;Eviews
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="lea-9-a" name="SPSS"><span class="sing-77 uncheck"name="lea" id="lea-9"></span></a>&nbsp;SPSS
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="lea-10-a" name="其他"><span class="sing-77 uncheck" name="lea" id="lea-10"></span></a>&nbsp;其他
        </div>
        <input style="display:none" id="lea-in" name="2" class="wj-result-77">
        </div>
        
        
        <div class="wj-q">5.&nbsp;修过的数理课程</div>
        <div class="wj-op">
        <div class="col-xs-3"><!-- course -->
        <a href="javascript:void(0)" class="cou-1-a" name="高等数学"><span class="sing-77 uncheck" name="cou" id="cou-1"></span></a>&nbsp;高等数学
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="cou-2-a" name="线性代数"><span class="sing-77 uncheck" name="cou" id="cou-2"></span></a>&nbsp;线性代数
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="cou-3-a" name="概率论"><span class="sing-77 uncheck"name="cou" id="cou-3"></span></a>&nbsp;概率论
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="cou-4-a" name="统计学"><span class="sing-77 uncheck"name="cou" id="cou-4"></span></a>&nbsp;统计学
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="cou-5-a" name="常微分方程"><span class="sing-77 uncheck"name="cou" id="cou-5"></span></a>&nbsp;常微分方程
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="cou-6-a" name="偏微分方程"><span class="sing-77 uncheck"name="cou" id="cou-6"></span></a>&nbsp;偏微分方程
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="cou-7-a" name="随机过程"><span class="sing-77 uncheck"name="cou" id="cou-7"></span></a>&nbsp;随机过程
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="cou-8-a" name="计量"><span class="sing-77 uncheck"name="cou" id="cou-8"></span></a>&nbsp;计量
        </div>
        <div class="col-xs-3">
        <a href="javascript:void(0)" class="cou-9-a" name="其他"><span class="sing-77 uncheck"name="cou" id="cou-9"></span></a>&nbsp;其他
        </div>
        <input style="display:none" id="cou-in" name="2" class="wj-result-77">
        </div>
        
        <div class="wj-button">
        <button onclick="subjn()" class="wj-sub"style="margin-top:0px;float:unset;">提交</button>
        </div>
        <script>
        function subjn(e){
            var uid="{$Think.session.guestinfo.id_guest}";
            var univ=$('#univ').val();
            var name=$('#name').val();
            var major=$('#major').val();
            var year=$('#year').val();
            var country=$('#ctr-in').val();
            var course=$('#cou-in').val();
            var skill=$('#lea-in').val();
            var area=$('#gui-in').val();
            if(!univ||!name||!major||!year||!country||!course||!skill||!area)
                {
                    alert("请完善所有信息后提交");
                }else{
                    $.post('http://www.compassedu.hk/slg_saveSkill',
                            {'uid':uid,
                            'univ':univ,
                            'name':name,
                            'major':major,
                            'year':year,
                            'country':country,
                            'course':course,
                            'skill':skill,
                            'area':area},function(result){
                                alert("提交成功");
                                window.location.reload();
                            })
                    }
                }
            
        
        $('.sing-77').click(function(){
            var id=$(this).attr('id');
            
            var v=$('.'+id+'-a').attr('name');
            
            var n=$(this).attr('name');
            
            var inval=$('#'+n+'-in').val();
            
            if($(this).hasClass('uncheck'))
                {
                $(this).removeClass('uncheck').addClass('check');
                
                
                inval=inval+v+',';
                
                $('#'+n+'-in').val(inval);
                
                console.log($('#'+n+'-in').val());
                }
            else{
                $(this).removeClass('check').addClass('uncheck');
                
                inval=inval.replace(v+',','');
                
                $('#'+n+'-in').val(inval);
                
                //console.log($('#'+n+'-in').val());
            }
                
        })
        
        
        $('.grade').click(function(){
            $('.grade').each(function(){
                if($(this).hasClass('check')){
                    $(this).removeClass('check').addClass('uncheck');
                }
            })
            $(this).addClass('check');
            $('#year').val($(this).attr('name'));
            //console.log($('#year').val());
        })
        
        </script>
        
        
            </div>